In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# importing the data

In [2]:
# importing transaction data
transaction_data = pd.read_csv('transaction_data.csv')

In [3]:
# importing customer list
customer_list = pd.read_csv('customer_list_updated.csv')

# viewing the data

In [6]:
# information about transaction_data, data type
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  1353 non-null   int64
 1   CustID         1353 non-null   int64
 2   Date           1353 non-null   object
 3   Employee       1353 non-null   object
 4   ProductID      1353 non-null   int64
 5   ProductName    1353 non-null   object
 6   VendorID       1353 non-null   int64
 7   ProductVendor  1353 non-null   object
 8   UnitPrice      1353 non-null   float64
 9   Quantity       1353 non-null   int64
 10  Subtotal       1353 non-null   float64
 11  Tax(8%)        1353 non-null   float64
 12  OrderTotal     1353 non-null   float64
dtypes: float64(4), int64(5), object(4)
memory usage: 137.5+ KB

In [7]:
# information about customer, data type
customer_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521 entries, 0 to 520
Data columns (total 1 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   cust_id|date|time|name|email|phone|sms-opt-out   521 non-null    object
dtypes: object(1)
memory usage: 4.2+ KB

In [8]:
transaction_data.head()

,TransactionID,CustID,Date,Employee,ProductID,ProductName,VendorID,ProductVendor,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal
0,10258,1,7/17/2023,Nancy Davolio,32,Mascarpone Fabioli,14,Formaggi Fortini s.r.l.,25.6,6,153.6,12.29,165.89
1,10275,2,8/7/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,12,43.2,3.46,46.66
2,10275,2,8/7/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,6,264.0,21.12,285.12
3,10292,3,8/28/2023,Nancy Davolio,20,Sir Rodney's Marmalade,8,"Specialty Biscuits, Ltd.",64.8,20,1296.0,103.68,1399.68
4,10293,4,8/29/2023,Nancy Davolio,18,Carnarvon Tigers,7,"Pavlova, Ltd.",50.0,12,600.0,48.00,648.00

In [9]:
customer_list.head()

     cust_id|date|time|name|email|phone|sms-opt-out
0  1|2023-03-15|08:45:12|Rachel|rachel@centralper...
1  2|2023-05-22|12:30:45|R&! Geller|rossg@central...
2  3|2023-07-09|18:15:27|Monica Geller|chefmonica...
3  4|2023-09-01|21:05:33|Chandler Bing|chandlerb@...
4  5|2023-11-18|14:22:10|Joey|howyoudoing@central...

In [10]:
# Checking for missing values in transaction data
print(transaction_data.isnull().sum())

TransactionID    0
CustID           0
Date             0
Employee         0
ProductID        0
ProductName      0
VendorID         0
ProductVendor    0
UnitPrice        0
Quantity         0
Subtotal         0
Tax(8%)          0
OrderTotal       0
dtype: int64

In [11]:
# Checking for missing values in customer list
print(customer_list.isnull().sum())

cust_id|date|time|name|email|phone|sms-opt-out     0
dtype: int64